<<<<<<< HEAD
body{
  text-align: center;
  background-color: #181C4C;
}
h1{
  color: #E2E4AC;
  font-family: 'Press Start 2P', cursive;
  font-size: 3rem;
  margin : 5%;
  margin-bottom: 3.5%;
  font-weight: bold;
}


.container{
  display:block;
  width: 50%;
  margin:auto;
}



.btn{
  display: inline-block;
  width: 200px;
  height: 200px;
  margin:2%;
  border-radius: 20px;
  border: solid 10px;
}

.green{
  background-color: green;
}

.red{
  background-color: red;
}

.blue{
  background-color: blue;
}

.yellow{
  background-color: yellow;
}

.pressed{
  /* #CBCBCB  */
  box-shadow: 0 0 10px 5px #E7E9E9;
  background-color: #CBCBCB;
  opacity: 0.5;
}

.game_Over{
  background-color: red;
}

#highest_Score{
  font-size: 1.5rem;
  color: white;
}
=======
body{
  text-align: center;
  background-color: #181C4C;
}
h1{
  color: #E2E4AC;
  font-family: 'Press Start 2P', cursive;
  font-size: 3rem;
  margin : 5%;
  margin-bottom: 3.5%;
  font-weight: bold;
}


.container{
  display:block;
  width: 50%;
  margin:auto;
}



.btn{
  display: inline-block;
  width: 200px;
  height: 200px;
  margin:2%;
  border-radius: 20px;
  border: solid 10px;
}

.green{
  background-color: green;
}

.red{
  background-color: red;
}

.blue{
  background-color: blue;
}

.yellow{
  background-color: yellow;
}

.pressed{
  /* #CBCBCB  */
  box-shadow: 0 0 10px 5px #E7E9E9;
  background-color: #CBCBCB;
  opacity: 0.5;
}

.game_Over{
  background-color: red;
}

#highest_Score{
  font-size: 1.5rem;
  color: white;
}
>>>>>>> c4ae58986a90d859a29617ffbbd8b3c7ce921542
